html {
    background-color: rgba(72, 246, 72, 0.807);
}

a:link{
    color: black;
    text-decoration: none;
    font-size: 21px;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    text-align: center;
    font-size: 38px;
}

#main-gif {
    height: auto;
    width: 600px;
    border: 0.7px black solid;
}

p {
    color: rgb(117, 2, 2);
    text-align: left;
}

img.center{
    height: 150px;
    width: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }











