html {
    background-color: rgba(44, 202, 44, 0.706);
}

a:link{
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

#main-gif {
    height: auto;
    width: 600px;
    border: 0.7px black solid;
}



img.center{
    height: 150px;
    width: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }











